﻿#registration-form {
    font-family: Open Sans;
    margin: 10% 0% 0% 30%;
    width: 40%;
    border: solid;
    padding: 20px;
}

.head {
    text-align: center;
    margin-bottom: 20px;
}

.input label {
    float: left;
    width: 28%;
    margin-right: 20px;
    padding: 0px;
}

.input {
    margin-left: 10%;
    padding: 10px;
}

.error {
    display: none;
    font-size: small;
    color: red;
    font-style: italic;
}
